{% extends "index2.html" %}

{% block content %}


<center>

<table>
<tr> <td> Date of Booking </td> <td> Club </td> <td> Club Email </td>  <td> Room</td> <td> Change Room </td> <td> Cancel Booking </td></tr>
{% for item in L %}
<tr>
  <td>
    {{item[3]}} </td>

  <td>
    {{item[0]}}
    </td>
<td>
{{item[1]}}
</td>

<td>
{{item[2]}}
</td>
  <td>
    <form method = "POST">
      <input type = "number" name = "newr" id="newr">
      <button TYPE ="submit" name="change" VALUE="{{item[3] + ',' + item[2] + ',' + item[0]}}">Change </button>
      </form>
    </td>


<td>
<FORM method = "POST">

  <button TYPE="submit" name="del" id="style" VALUE="{{item[3] + ',' + item[2] + ',' + item[0]}}">Delete </button>
</FORM>
</td>
</tr>

{% endfor %}
</table>

<h3>Manually Add a Booking</h3>

<form method="POST">
  Club Email: <input type="text" name="email"><br>
  Date: <input type="date" name="date"><br>
  Room: <input type="number" name="room"><br>

  <button TYPE="submit" name="book">Book Room</button>
</form>


</center>
{% endblock %}
