{% extends "index.html" %}

{% block content %}
<center>


  {% if not message == "" and not message == "Password successfully changed" %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endif %}

  {% if message == "Password successfully changed" %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endif %}
  
  
  <br>
  <br>
<p  style="font-size:27px">
          <b>  Change Password </b>
  </p>

<br>
 <form role="form" action="" method="POST">

 OLD PASSWORD
 <input type="password" name="old_pwd" id="old_pwd"/>
 <br>
 <br>

 NEW PASSWORD
 <input type="password" name="new_pwd" id="new_pwd"/>
 <br>
 <br>

 CONFIRM NEW PASSWORD
 <input type="password" name="new_pwd_2" id="new_pwd_2"/>
 <br>
 <br>

 <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit" value_="Login">
 </form>
</center>
{% endblock %}
