{% extends "index2.html" %}

{% block content %}


<center>


  <h3> Take Off a Room Here </h3>
<br>
  <table class="table" id="adminAdd">

    <tr>
      <th>Room Number</th>
      <th>Month</th>
      <th>Day of Week</th>
    </tr>
    
    <tr>
      <td><input type="number" name="room1" id="room1"/></td>
      <td><input type="number" name="month1" id="month1"/></td>
      <td>
	<select name="day1" id="day1">
	  <option>Monday</option>
	  <option>Tuesday</option>
	  <option>Wednesday</option>
	  <option>Thursday</option>
	  <option>Friday</option>
	</select>
      </td>
    </tr>

    <tr>
      <td><input type="number" name="room2" id="room2"/></td>
      <td><input type="number" name="month2" id="month2"/></td>
      <td>
	<select name="day2" id="day2">
	  <option>Monday</option>
	  <option>Tuesday</option>
	  <option>Wednesday</option>
	  <option>Thursday</option>
	  <option>Friday</option>
	</select>
      </td>
    </tr>

    <tr>
      <td><input type="number" name="room3" id="room3"/></td>
      <td><input type="number" name="month3" id="month3"/></td>
      <td>
	<select name="day3" id="day3">
	  <option>Monday</option>
	  <option>Tuesday</option>
	  <option>Wednesday</option>
	  <option>Thursday</option>
	  <option>Friday</option>
	</select>
      </td>
    </tr>

    <tr>
      <td><input type="number" name="room4" id="room4"/></td>
      <td><input type="number" name="month4" id="month4"/></td>
      <td>
	<select name="day4" id="day4">
	  <option>Monday</option>
	  <option>Tuesday</option>
	  <option>Wednesday</option>
	  <option>Thursday</option>
	  <option>Friday</option>
	</select>
      </td>
    </tr>

    <tr>
      <td><input type="number" name="room5" id="room5"/></td>
      <td><input type="number" name="month5" id="month5"/></td>
      <td>
	<select name="day5" id="day5">
	  <option>Monday</option>
	  <option>Tuesday</option>
	  <option>Wednesday</option>
	  <option>Thursday</option>
	  <option>Friday</option>
	</select>
      </td>
    </tr>

  </table>


<input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit" value_="Login">
</form>

</center>
{% endblock %}
