{% extends "index.html" %}

{% block content %}
<center>


  {% if not message == "" %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endif %}
  
  <br>
  <br>
<p  style="font-size:27px">
          <b>  Log In </b>
  </p>

<br>
 <form role="form" action="" method="POST">

 EMAIL
 <input type="text" name="email" id="email"/>
 <br>
 <br>
PASSWORD
 <input type="password" name="pwd" id="pwd"/>
 <br>
 <br>

 <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit" value_="Login">
 </form>

 <br>
 <div class="alert alert-info">
   Forgot your password? To reset your password, please email <strong>it@stuysu.org</strong> with <strong>Club Password Reset</strong> as the subject.
 </div>
 
</center>
{% endblock %}
