{% extends "indexa.html" %}

{% block content %}

<center>

  {% if not message == "" %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endif %}
  
  <br>
  <br>
  
<p  style="font-size:27px">
          <b>  Sign Up </b>
  </p>

<br>
 <form role="form" action="" method="POST">

 Club Name
 <input type="text" name="name" id="name"/>
 <br>
 <br>
 Email
 <input type="text" name="email" id="email"/>
 <br>
 <br>
 Osis
 <input type="number" name="osis" id="osis"/>
 <br>
 <br>
  Password
 <input type="password" name="pwd" id="pwd"/>
 <br>
 <br>
 Confirm Password
 <input type="password" name="pwd2" id="pwd2"/>
 <br>
 <br>

 <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit" value_="Signup">
 </form>
 </center>
{% endblock %}
